@import "../../style/Mixins.scss";

.cardEntryFlex{
  display: flex;
  justify-content: space-between;

}
@media screen and(max-width: 768px) {
  .cardEntryFlex{
    flex-direction: column;
    align-items: center;
  }

}
