@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600&display=swap");
@import "./Mixins.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
body {
  font-family: "Commissioner";
  font-weight: 400;
  @include fluid(font-size, 12px, 14px);
  font-style: normal;
  line-height: normal;
  background: #fff;
  position: relative;
  color: #333333;
}
body,
html {
  overflow-x: hidden;
}
input {
  outline: none;
}
.App {
  @include container();
  @include fluid(padding-top, 25px, 50px);
  display: flex;
  justify-content: space-between;
}
.NavItem {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 2px;
  opacity: 0.5;
  position: relative;
  z-index: 2;
  &:before {
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    box-shadow: inset 0px 0px 19px 4px rgba(203, 203, 203, 0.35);
    background: rgba(230, 230, 230, 0.19);
    border-radius: 7px;
    height: 100%;
    width: 0%;
    transition: 0.38s ease-in-out;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}
.NavItemActive {
  box-shadow: inset 0px 0px 19px 4px rgba(203, 203, 203, 0.35);
  background: rgba(230, 230, 230, 0.19);
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 2px;
  opacity: 1;
}
.content {
  width: 80%;
  box-shadow: inset 0px 0px 19px 4px rgba(203, 203, 203, 0.35);
  border-radius: 25px;
  background: rgba(230, 230, 230, 0.19);
  @include fluid(padding-top, 15px, 25px);
  @include fluid(padding-bottom, 15px, 25px);
  @include fluid(padding-left, 25px, 50px);
  @include fluid(padding-right, 25px, 50px);
}
.content-min {
  width: 700px;
  box-shadow: inset 0px 0px 19px 4px rgba(203, 203, 203, 0.35);
  border-radius: 25px;
  background: rgba(230, 230, 230, 0.19);
  @include fluid(padding-top, 15px, 25px);
  @include fluid(padding-bottom, 15px, 25px);
  @include fluid(padding-left, 25px, 50px);
  @include fluid(padding-right, 25px, 50px);
}
.card {
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  @include fluid(margin-top, 15px, 25px);
  @include fluid(padding-top, 20px, 40px);
  @include fluid(padding-left, 25px, 50px);
  @include fluid(padding-right, 25px, 50px);
  @include fluid(padding-bottom, 20px, 40px);
}
.card-min {
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  @include fluid(margin-top, 15px, 25px);
  @include fluid(padding-top, 20px, 40px);
  @include fluid(padding-left, 10px, 20px);
  @include fluid(padding-right, 10px, 20px);
  @include fluid(padding-bottom, 20px, 40px);
}
.Link {
  background: linear-gradient(242.41deg, #00e7ff 3.15%, #01a2fa 98.51%);
  box-shadow: 0px 3px 4px 1px rgba(137, 137, 137, 0.5);
  border-radius: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  width: 100%;
  margin-bottom: 10px;
}
.linkBlue {
  font-size: 16px;
  color: #01a2fa;
}
.tab {
  list-style: none;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  color: #cbcbcb;
  z-index: 3;
  outline: none;
  @include fluid(padding-left, 15px, 30px);
  @include fluid(padding-right, 15px, 30px);
  @include fluid(padding-top, 3px, 5px);
  @include fluid(padding-bottom, 3px, 5px);
  overflow: hidden;
  transition: 0.38s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transition: 0.38s linear;
    height: 100%;
    width: 0;
    opacity: 0;
    z-index: -1;
    background: linear-gradient(242.41deg, #00e7ff 3.15%, #01a2fa 98.51%);
  }
  div {
    @include fluid(font-size, 10px, 12px);
    color: #fff;
    transition: 0.38s ease-in-out;
    position: relative;
    z-index: 1;
  }
}
.list {
  margin-top: 25px;
  display: flex;
  border: 1px solid #cbcbcb;
  width: fit-content;
  border-radius: 1000px;
  @include fluid(padding-left, 15px, 25px);
  @include fluid(padding-right, 15px, 25px);
  @include fluid(padding-top, 5px, 7px);
  @include fluid(padding-bottom, 5px, 7px);
}
.activeTab {
  &::before {
    opacity: 1;
    width: 100%;
  }

  color: #ffffff;
}
.tabs {
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.accordeon {
  transition: 0.38s ease-in-out;
  display: flex;
  flex-direction: column;
  height: auto;
  @include fluid(padding-top, 15px, 20px);
  border-bottom: 1px solid #cbcbcb;
}
.accordeonOpen {
  backdrop-filter: blur(100px);

  @include fluid(padding-bottom, 15px, 25px);
}

.dropdown {
  background: url("../Img/icon/arrow.svg") no-repeat;
  transform: rotate(180deg);
  background-size: contain;
  @include fluid(width, 12px, 15px);
  @include fluid(height, 6px, 8px);
  transition: 0.38s ease-in-out;
  transform-origin: center;
}
.dropdownOpen {
  transform: rotate(0deg);
}
.contentAccordeon {
  color: #fff;
  max-height: 0;
  opacity: 0;
  transition: 0.4s linear;
  animation: close 1.5s;
}
.contentAccordeonOpen {
  animation: open 1s;
  transition: 0.4s linear;
  opacity: 1;
  max-height: 100%;
  @include fluid(margin-bottom, 15px, 35px);
  @include fluid(margin-top, 10px, 25px);
}
.titleAccordeon {
  @include fluid(font-size, 14px, 16px);
}
.blockAccordeon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include fluid(margin-bottom, 10px, 20px);
}
.accordion-wrapper__content-enter {
  overflow: hidden;
  max-height: 0;
}

.accordion-wrapper__content-enter-active {
  max-height: 1000px;
  transition: max-height 0.6s ease-in-out;
}

.accordion-wrapper__content-exit {
  max-height: 1000px;
}

.accordion-wrapper__content-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
}
