@import "../../style/Mixins.scss";

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart{
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(203, 203, 203, 0.46);
  border-radius: 30px;
  height: 30px;
  margin-bottom: 10px;
  width: 95px;
}
.time{
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}
.container{
  margin-bottom: 70px;
}
.align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemFlex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include fluid(margin-bottom, 20px, 25px);
}
.item{
  display: flex;
  align-items: center;
}
.itemLogo{
  @include fluid(width, 30px, 35px);
  @include fluid(height, 30px, 35px);
  object-fit: contain;
  margin-right: 15px;
}
.itemType{
  color: #cbcbcb;
  font-size: 9px;
}
.itemFirm{
 @include fluid(font-size,12px, 14px);
  font-weight: 600;
}
.itemCost{
  @include fluid(font-size,14px, 16px);
  font-weight: 600;
}
@media screen and(max-width: 768px) {
  .cart{
    width: 48%;
    margin-top: 10px;
    margin-bottom: 0;
  }
}