@import "../../style/Mixins.scss";

.column{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title{
  @include fluid(font-size,23px, 25px);
  line-height: 130%;
  @include fluid(margin-bottom, 20px, 25px);
  width: 60%;
  text-align: center;
}
.text{
  @include fluid(font-size,16px, 18px);
  margin-bottom: 10px;
}
.textArea{
  resize: none;
  border: 1px solid #cbcbcb;
  border-radius: 20px;
  font-family: "Commissioner";
  font-size: 14px;
  width: 680px;
  height: 170px;
  padding-top: 22px;
  padding-left: 25px;
  outline: none;
  margin-bottom: 30px;
  &::placeholder {
    color: #cbcbcb;
  }
}